<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aad.implementation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".CompleteOrderActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePinActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeHeadChefActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUsersActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteUserActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryScreenActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ManageStockActivity"
            android:exported="false" />
        <activity
            android:name=".SysAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HSOfficerActivity"
            android:exported="false" />
        <activity
            android:name=".HeadChefScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ChefScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ViewItemActivity"
            android:exported="false" />
        <activity
            android:name=".RemoveItemActivity"
            android:exported="false" />
        <activity
            android:name=".AddItemActivity"
            android:exported="false" />
        <activity android:name=".StaffLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>